@import "tailwindcss";
@config "../tailwind.config.js";

body {
  margin: 0;
  background-color: #0C0C0C;
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
